<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chiro Healot | Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <%- include('nav', { profile: profile }) %>
        </aside>
    <main>
        <h1>Welcome to Chiro Healot Inventory Dashboard</h1>
    </main>
    </div>

    <script src="/js/dashboard.js"></script>
    <script src="/js/nav.js"></script>
</body>
</html>
